
:root {
   --docSecond: rgb(69, 70, 75);
   --docMain: rgb(0,0,0);
   --docBgMain:  #eee;
   --docBgSecond: #ddd;
   --docDistinct: #F1C40F;
   --docDistinctSec: #c29d09;
 }
 
 html {
   box-sizing: border-box;
   font-size: 10px;
 }
 
 *,
 *:before,
 *:after {
      box-sizing: inherit;
 }
 
 body {
   margin: 0;
   padding: 0;
   color: var(--docMain);
   background-color: var(--docBgMain);
   font-family: "Lato", helvetica, arial, sans-serif;
   font-size: 2rem;
   text-shadow: 0, 2px, 0 rgba(0,0,0, .07);
   -webkit-overflow-scrolling: touch;   
   overflow-y: scroll; 
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: bold;
   text-align: center;
 }
 p {
   line-height: 1.45;
   margin-bottom: 1.5rem;
   text-align: center; 
   font-weight: 300;
   font-size: 1.8rem;
 }
small {
  font-size: 1.5rem;
}
 a {
   text-decoration: none;
   padding: 1rem 4rem;
   margin: 0;
   color: var(--docMain);
   font-weight: 300;
 }
 li {
   list-style-type: none;
 }
 img {
  vertical-align: middle;
  padding: 10px;
}
 input[type="submit"] {
   padding: 1rem 1.5rem;
   background-color: var(--docDistinct);
   border: transparent;
   font-size: 1.75rem;
   font-weight: 300;
   text-transform: uppercase;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   margin-top: 10px;
}
input[type="submit"]:hover {
  background-color: var(--docDistinctSec);
}
/* header */

header {
  display:flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--docBgMain);
}
 
.brand {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 5%; 
}
.brand img {
  width: 10%;
}
p.logo {
  font-size: 3rem;
  margin: 0;
}

.nav-menu ul {
  display: flex;
  justify-content: end;
  flex: 3;
}
.nav-menu a {
  font-size: 2.25rem;
}

.container {
  max-width: 1000px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
#contact-section {
  display: flex;
  flex-direction: column;
}
#contact-section h1 {
      font-size: 3rem;
}
#contact-section p {
  margin: 0;
}
.email-contact input[type="email"] {
    padding: 5px;
    width:25%;
    border:1px solid var(--docSecond);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    font-size: 1.5rem;
}
.email-contact input[type="submit"] {
  font-weight: bold; 
}

/* Features section */
#features-section {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}
.feature-text {
  flex: 5;
}
.feature-text h2 {
  font-size: 2.5rem;
  text-align: left;
}

.feature-text p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.feature-icon {
  flex: 1;
  text-align: center;
}
.feature-icon img {
  width: 50%;
}
.feature-item {
  display: flex;
}

/* Video section */
#video-section {
  display: flex;
  justify-content: center;
  margin: 6rem;
}

/* Pricing Section */
#pricing-section {
  display: flex;
  justify-content: space-between;
}

.pricing-item {
  border: 1px solid black;
  width: 32%; 
}
.pricing-header h3 {
  background-color: var(--docBgSecond);
  margin: 0;
  padding: 20px 0;
}
.pricing-body {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing-body ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing-body li {
  font-size: 1.75rem;
  padding-bottom: 1rem;
}
.pricing-body li:last-of-type {
  padding-bottom: 0;
}
p.price-tag {
  font-size: 2.5rem;
  font-weight: 600;
}
.pricing-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#footer-section {
  background-color: var(--docBgSecond);
  margin: 4rem 0 0;
  display: flex;
  flex-direction: column;
}
.footer-menu ul {
  display: flex;
  justify-content: end;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  padding: 0;
  margin: 0;
}
.footer-menu a {
  padding: 1rem 1.5rem;
}

.copyright small {
  display: flex;
  justify-content: end;
  padding-right: 2rem;
  color: var(--docSecond);
}

@media screen and (max-width: 800px) {

/* HEADER */
  header {
    display:flex;
    flex-direction: column;
  }
   
.brand {
  align-items: center;
  justify-content: center;
}
.brand img {
  width: 15%;
}
.nav-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 2rem 0 0;
}
.nav-menu a {
  font-size: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;  
}
/* CONTAINER */
.container {
  min-width: 300px;
  margin-top: 180px;
}

/* EMAIL FORM */
#contact-section {
  align-items: center;
  padding-top: 2rem;  
}
#contact-section h1 {
  font-size: 2.25rem;
}
.email-contact input[type="email"] {
   width:100%;
   font-size: 1.25rem;
}

}


@media screen and (max-width: 370px) {
  .brand img {
    width: 20%;
  }
}